.sider-user{
  min-width: 360px !important;
}

.ant-layout-sider-trigger{
  width: 360px !important;
}

.ant-layout-sider-collapsed{
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 110px !important;
  width: 80px !important;
}

.ant-layout-sider-collapsed .ant-layout-sider-trigger{ 
  width: 110px !important;
}
