.ant-mentions {
  border: none !important;
}
.ant-mentions textarea::placeholder {
  font-size: 20px;
}

.ant-modal-close{
  right: unset !important;
}

.antd-demo-dynamic-option span {
  margin-left: 8px;
}

.ant-mentions-focused{
  box-shadow: none !important;
}
.ant-btn-round.ant-btn-lg {
  height: 50px  !important;
  padding: 6.4px 50px !important;
  font-size: 22px !important;
  margin-left: 20px !important;
}


/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 30vh;
  margin-bottom: 10px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}

.ant-modal-body{
  padding: 24px 24px 0px 24px !important;
}

.ant-modal-content{
  border-radius: 30px !important;
}

.ant-comment-content-author > a, .ant-comment-content-author > span {
  color: white;
  font-size: 16px !important;
  line-height: 14px !important;
}

.ant-comment-content-detail span {
  color: dimgray;
}

.ant-comment-content{
  font-size: 12px !important; 
}

.ant-comment-inner {
  padding: 0 !important;
}

.ant-comment-avatar {
    margin-right: 0px !important;
}