.ant-upload.ant-upload-select-picture-card {
  width: 35px !important;
  height: 35px !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}