.skeleton-demo {
  border: 1px solid #f4f4f4;
}

.scrollHide {
  height: 580px;
  overflow: auto !important;
  padding: 0 16px !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollHide::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.antdi-msg:hover{
  color: rgb(19, 155, 240);
  cursor: pointer;
}

.antdi-ret:hover{
  color: rgb(0, 186, 124);
  cursor: pointer;
}
.antdi-like:hover{
  color: rgb(249, 24, 128);
  cursor: pointer;
}
.antdi-share:hover{
  color: rgb(19, 155, 240);
  cursor: pointer;
}

.test{
  border-radius: 10%;
}
