.scrollHide {
  height: 580px;
  overflow: auto !important;
  padding: 0 16px !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollHide::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.ul-card{
  border-radius: 30px !important;
}

.ul-card .ant-card-body{
  padding: 0 !important;
}